@charset "utf-8";

.innerheader{
	margin: 20px;
	font-size: 40px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-align: center;
	background-color:rgba(247,219,105,1.00);
	padding: 10px;
	border-bottom: double;
	border-width: 8px;
	
}

.button{
	cursor: pointer;
    border: none;
    padding: 20px 20px;
    text-align: center;
    display: inline-block;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    margin: 5px 20px;
	background-color:rgba(168,33,107,1.00);
	color: rgba(255,255,255,1.00);
	text-decoration: none;
}


#aboutcosplay{
	background-color: rgba(242,106,68,0.7);
	padding: 10px 30px;
	margin: 30px 10px;
}

#links{
	background-color:rgba(138,120,120,0.5);
	padding: 10px 30px;
	margin: 10px;
	display: inline-block;
}

div#aboutcosplay a{
	color:rgba(204,42,131,1.00);
}

div#aboutcosplay a:hover{
	color: rgba(126,37,38,1.00);
}

div#aboutcosplay a:active{
	color: rgba(203,0,3,1.00);
}

#aboutcossieplay{
	background-color: rgba(46,149,152,0.7);
	padding: 10px 30px;
	margin: 30px 10px;
	overflow: hidden;
}

div#aboutcossieplay img{
	float: right;
	margin-right: 20px;
	margin-left: 10px;
	border-radius: 100px;
}

#overview{
	background-color: rgba(242,106,68,0.7);
	padding: 10px 30px;
	margin: 30px 10px;
	overflow: hidden;
}

div#overview img{
	float: right;
	padding: 40px;
}

div#overview p a{
	font-size: 45px;
	color: black;
	text-decoration: none;
}

#ordernow{
	background-color:rgba(138,120,120,0.5);
	padding: 50px;
	margin: 100px;
	float: right;
}

#itemlist{
	background-color: rgba(46,149,152,0.6);
	padding: 10px 30px 40px;
	margin: 30px 10px;
}

div#itemlist table{
	border-spacing: 5px;
	border-collapse: collapse;
}

div#itemlist table tr, th{
	padding: 20px;
	border: 3px double;
}

div#itemlist table tr, td{
	text-align: left;
	padding: 15px;
	border: 1px solid black;
}

div#itemlist tr:nth-child(even){
	background-color:rgba(255,255,255,0.2);
}

#joinpartybg{
	background-image: url(../images/party-1506740-640x480.jpg);
	background-position: center;
}

#joinparty{
	margin: 5px 145px;
	text-align: center;
	padding: 10px 30px;
	overflow: auto;
	background:rgba(224,224,224,0.8);
}

div#joinparty span{
	font-size: 30px;
}

#signup{
	background-color: rgba(242,106,68,0.7);
	padding: 10px 30px;
	margin: 30px 10px;
}

div#signup a{
	color: black;
	font-size: 22px;
}

div#signup ul li{
	list-style-type: square;
	font-size: 22px;
}

#partyguidelines{
	background-color: rgba(46,149,152,0.7);
	padding: 10px 30px;
	margin: 30px 10px;
}

#contactus{
	background-color: rgba(242,106,68,0.7);
	padding: 10px 30px;
	margin: 20px 10px 130px;
}

p, table, li{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 20px;
}

h2{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 35px;
}
table{
	border-collapse: collapse;
}
table th{
	border:black solid;
}
.faqbutton{
	cursor:pointer;
	border:none;
	padding: 20px;
	background-color: #9AF7FF;
}
.faqbutton[value="Show"] + .faq div{
	margin-top:-100%;
}
.faqbutton[value="Hide"] + .faq{
	padding: 5px;
}
.faq{
	overflow:hidden;
}
.faq div{
	-webkit-transition: all 0.2s ease;
	-moz-transition: margin 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: margin 0.1s ease;
}
