@charset "utf-8";


body{
	margin:0px;
	background: url(../images/fishbubblesEdit.jpg);
}

 html,body {
  	height:100%;
  	margin:0;
}

.fixednavbar {
  	position: fixed;
  	top: 0;
  	left: 0;
	right: 0;
  	z-index: 9999;
  	width: 100%;
	background-color: rgba(255,219,119,1.00);
}
nav ul li span{

	display: inline-block;

	
}
nav ul{	
	justify-content: center;
	width: auto;
	background-color: #C2F4FF;
	text-align: center;
	padding: 0;
	padding-bottom: 18px;
	margin: 0;

}

nav ul li {
	font-size: 18px;
	padding: 10px 40px;	
	display: inline-block;
	position: relative;
}

nav ul li a{
	text-decoration: none;
	color: black;
}

nav li ul {
	display: none;
	list-style-type: none;
	z-index: 1;
	text-align: justify;
}

nav li:hover ul{
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}

nav li:hover ul li{
	margin: 0;
	text-decoration: none;
	display: flex;
	padding-left: 10px;
}

nav li:hover ul li a{
	color: black;
}

nav li:hover{
	background-color: rgba(255,219,119,1.00);
}


footer {
	color: rgba(0,0,102,1.00);
    background-color: rgba(194,244,255,1.00);
  	position: relative;
  	right: 0;
  	bottom: 0;
  	left: 0;
	margin-top: 50px;
}

footer h1{
	display: block;
	margin: 10px;
	margin-left: 40px;
	float: left;
}

footer p{
	padding-left: 150px;
	font-size: 17px;
	margin-right: 10px;
	display: block;
	text-align: right;
}
