@charset "utf-8";
#backgroundhome{
	background-image: url(../images/book-fair-678264_1280-cropped.jpg);
	width: 100%;
	background-repeat: repeat-x;
	background-position: center;
}

#hometitle {
	width: 70%;
	margin: 50px 145px;
	text-align: center;
	background-color: #FFFFFF;
	
	background:rgba(255,255,255,0.8);
	padding: 15px;
}

div#hometitle h1{
	font-size: 100px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: #EC1B4B;

}

div#hometitle p{
	font-size: 30px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-weight: bold;
}


